@include b(btn) {
	//@include btn(palette(brand),#fff,palette(brand));
	@extend %btn;
	background-color: palette(grey);
	color: #fff;
	transition: all .2s $transition;

	margin: 0 .25rem .25rem 0;

	.form-group & {
		margin: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.icon {
		fill: currentColor;
		width: .8rem;
		height: .8rem;
		vertical-align: top;
		position: relative;
		left: .5rem;
	}

	.icon-search {
		left: 0;
	}


	@include m(lg) {
		border-radius: .3rem .3rem .3rem .15rem;
		font-size: .9rem;
		padding: 1rem 2.75rem;

		.icon {
			left: 1.25rem;
			width: 1rem;
			height: 1rem;
		}
	}

	@include m(primary) {
		background-color: palette(grey);
	}

	@include m(info) {
		background-color: palette(blue);
	}

	@include m(success) {
		background-color: palette(green);
	}

	@include m(danger) {
		background-color: palette();
	}

	@include m(danger-dark) {
		background-color: palette(brand,200);
		&:hover {
			background-color: lighten(palette(brand,200), 15%);
		}
	}

	@include m(outline) {
		border-width: 2px;
		border-style: solid;
		background-color: transparent;
		padding-top: .55rem;
		padding-bottom: .6rem;

		&.btn--lg {
			padding-top: .9rem;
			padding-bottom: .9rem;
		}
	}

	@include m(primary) {
		//color: palette(grey);
		border-color: palette(grey);

		&.btn--outline {
			color: palette(grey);
		}

		&:hover {
			color: #fff;
			background-color: darken(palette(grey), 15%);
			border-color: darken(palette(grey), 15%);
		}
	}

	@include m(info) {
		border-color: palette(blue);

		&.btn--outline {
			color: palette(blue);
		}

		&:hover {
			color: #fff;
			background-color: darken(palette(blue), 15%);
			border-color: darken(palette(blue), 15%);
		}
	}

	@include m(success) {
		//color: palette(green);
		border-color: palette(green);

		&.btn--outline {
			color: palette(green);
		}

		&:hover {
			color: #fff;
			background-color: darken(palette(green), 15%);
			border-color: darken(palette(green), 15%);
		}
	}

	@include m(danger) {
		//color: palette();
		border-color: palette();

		&.btn--outline {
			color: palette();
		}

		&:hover {
			color: #fff;
			background-color: darken(palette(), 15%);
			border-color: darken(palette(), 15%);
		}
	}

}
