@include b(affiliates) {
	max-width: $narrow-max-width;
	padding-top: 3rem;
	padding-bottom: 3rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	padding-left: 5%;
	padding-right: 5%;

	@include bp(1220px) {
		padding-left: 0;
		padding-right: 0;
	}

	.intro + p > span {
		color: palette(grey);
		margin-left: .5rem;
		font-size: .8rem;
	}
}

.spacer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	@include bp(sm) {
		flex-direction: row;
	}

	.btn {
		margin: 1rem 0 0;
		text-align: center;
		@include bp(sm) {
			margin: 0;
		}
	}
}

@include b(faq) {
	@include e(question) {
		font-weight: bold;
		margin: 0;
		color: palette(grey,200);
		line-height: 1.7;
	}
	@include b(answer) {
		color: palette(grey,200);
		line-height: 1.7;
	}
}