@include b(contact) {
	padding: 2.5rem 5% 0;
	display: flex;
	flex-wrap: wrap;

	position: relative;
	z-index: 10;
	left: 50%;
	width: 100%;
	max-width: $max-width;
	transform: translateX(-50%);

	@include bp(xl) {
		padding-left: 0;
		padding-right: 0;
	}

	@include e(details) {
		flex: 0 1 100%;
		max-width: 100%;
		padding-right: $half-gutter;
		padding-left: $half-gutter;


		@include bp(md) {
			flex: 0 1 50%;
			max-width: 50%;
			padding-left: $gutter-width;
			padding-right: $gutter-width;
		}

		@include bp(lg) {
			padding-left: $column-width;

			&:first-child {
				padding-left: $column-width*2;
			}
		}

	}
}


@include b(testimonials) {
	background: url(/assets/images/bg-testimonials.jpg); //linear-gradient(to bottom, #2e3335, #25292c);
	background-size: cover;
	color: #fff;
	// position: relative;
	// max-width: $max-width;
	// left: 50%;
	// transform: translateX(-50%);
	text-align: center;
	padding: 2.5rem 0;

	// &::before,&::after {
	// 	content: '';
	// 	background: linear-gradient(to bottom, #2e3335, #25292c);
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	width: 99rem;
	// 	left: 100%;
	// }
	// &::after {
	// 	left: auto;
	// 	right: 100%;
	// }

	blockquote {
		margin: 2rem 0;
		position: relative;

		p {
			margin-bottom: 1rem;
			position: relative;
			padding-left: $column-width + $gutter-width;
			padding-right: $column-width + $gutter-width;

			&::before,&::after {
				content: '';
				background: url(/assets/images/left-quote.svg) no-repeat;
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);

				width: 1.6rem;
				height: .8rem;
				background-size: 1.6rem .8rem;

				@include bp(sm) {
					width: 3.2rem;
					height: 1.6rem;
					background-size: 3.2rem 1.6rem;
				}
			}
			&::after {
				left: auto;
				right: 0;
				background-image: url(/assets/images/right-quote.svg);
			}
		}



	}

	.owl-carousel {
		@include bp(md) {
			padding-left: $column-width;
			padding-right: $column-width;
		}
	}

	.owl-pagination {
		justify-content: center;
	}
}






