@include b(job-listing) {

	//max-width: $max-width;
	max-width: $narrow-max-width;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-wrap: wrap;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 4rem;
	line-height: 1.714;

	@include bp(1220px) {
		padding-left: 0;
		padding-right: 0;
	}

	@include e(intro) {
		margin-bottom: 1.5rem;
		padding-bottom: .5rem;
		border-bottom: 1px solid palette(grey,700);

		.about__person--blend {
			position: absolute;
			top: 0;
			left: 0;
			> span {
				width: 5.5rem;
				height: 5.5rem;
				background-size: 5.5rem;
			}
		}

	} // intro

	@include e(description) {
		margin-bottom: 2rem;

		h3 {
			text-transform: uppercase;
			font-weight: 700;
		}
	}

}